RewriteEngine On
# If the installation does not run on the main web folder make sure you folder it does run in ie. / becomes />

RewriteBase /door_access/public

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|webp|jpeg|png|js|css)
RewriteRule ^([^?]*) index.php?route=$1 [L,QSA]